services:

  web:
    build: ./
    ports:
      - 8000:8000
    depends_on:
      redis:
        condition: service_healthy
    command: uv run python main.py

  redis:
    image: redis:latest
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "PING"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 30s